<div class="header-proposition noPrint">
    <div class="content">
        <!-- <a href="#" class="js-header-toggle menu">Menu</a>-->
        <nav id="proposition-menu">

            <a href="https://pay-legalisation-post.service.gov.uk/additional-payments" id="proposition-name">Get a document legalised</a>

        </nav>

    </div>
</div>