@import "measurements.scss";
@import "conditionals.scss";
@import "colours.scss";
@import "grid_layout.scss";
@import "typography.scss";
@import "design-patterns/_buttons.scss";

#wrapper {
  @extend %site-width-container;

  @include core-19;
  padding-bottom: $gutter * 2;
}

.phase-banner p {
  display: table;
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
}

@media (min-width: 641px) {
  .phase-banner p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #005ea5;
}

@media (min-width: 641px) {
  .phase-banner .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner span {
  display: table-cell;
  vertical-align: baseline;
}

.phase-banner-alpha,
.phase-banner-beta {
  padding: 10px 0 8px;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .phase-banner-alpha,
  .phase-banner-beta {
    padding-bottom: 10px;
  }
}

.phase-banner-alpha p,
.phase-banner-beta p {
  display: table;
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
}

@media (min-width: 641px) {
  .phase-banner-alpha p,
  .phase-banner-beta p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner-alpha .phase-tag,
.phase-banner-beta .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #005ea5;
}

@media (min-width: 641px) {
  .phase-banner-alpha .phase-tag,
  .phase-banner-beta .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner-alpha span,
.phase-banner-beta span {
  display: table-cell;
  vertical-align: baseline;
}

#content {
  @extend %grid-row;

  .page-header,
  .article-container {
    @include grid-column(2/3);
  }

  h1 {
    margin: $gutter-half 0;
    @include bold-48;

    @include media(tablet) {
      margin: $gutter 0;
    }
  }

  .button {
    @include button;
  }

  .get-started {
    .button {
      @include bold-24;
    }
    .destination {
      display: block;
      margin-top: .5em;
      @include core-14;
      color: $grey-1;
    }
  }

  .get-started-post {
    .destination {
      display: block;
      margin-top: .5em;
      @include core-14;
      color: $grey-1;
    }
  }

  .address {
    margin: 2.5em 0;
  }

  .info-notice {
    margin-bottom: 1em;
    padding: 0.1em 0 0.1em 1em;
    border-left: 10px #dee0e2 $grey-3;
  }

  .contact {
    margin: 0.75em;
  }
  
  .error-message {
  margin: 0.4em -0.7em 0.4em -0.8em;
  padding: 0.5em 0.65em;
  border-left-color: #df3034;
  border-left-width: 3px;
  border-left-style: solid;
  background-color: #fef7f7;
  list-style-type: none;
  }

  .panel-border-wide {
    border-left-width: 10px;
  }
  .panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    border-left-style: solid;
    border-color: #bfc1c3;
    padding: 0.1em 0.78947em 0.1em 0.78947em;
    margin-bottom: 0.7894736842em;
  }

  .govuk-box-highlight {
    margin: 1em 0;
    padding: 2em 0 2em;
    color: #fff;
    background: #28a197;
    text-align: center;
  }


  .govuk-form-elements {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding: 4px;
    background-color: #fff;
    border: 2px solid #6f777b;
    }
}
