<p>It costs &pound;<%= formatMoney(calculation.totalCost) %> for <%= calculation.formattedItemList() %>.</p>

<div class="panel panel-border-wide">
    <p>In July and August it may take up to 2 weeks to legalise your documents, plus courier or postage time</p>
</div>
