<p>You will be charged <b>&pound;<%= formatMoney(calculation.priceToPay) %></b> as an additional payment for your legalisation application.</p>


<p>If not used within 28 days your online payment will expire and no funds will be debited from your card or account.</p>
