<p>This page is for making additional payments for existing applications. For example, to pay for an extra document or to pay the correct amount of postage. To submit a new application use the <a href="https://www.gov.uk/get-document-legalised">legalisation online application service</a> instead.</p>

<%- partial("partials/questions/document_count", { questionText: "<b>How much extra do you need to pay?</b><br>Enter the amount which you've been told to pay by the Legalisation Office", questionType: 'cost' }) %>


<%- partial("partials/questions/email_address", { questionText: "Please enter your email address" }) %>
