    <div id="wrapper" class="group">
      <main id="content" role="main" class="group">

        <header class="page-header group">
          <div>
            <h1>How cookies are used on the payment service</h1>
          </div>
        </header>
        <div class="article-container group ancillary">
          <article role="article" class="group">
            <div class="inner">
                <p>For information on what cookies are and how they are used on GOV.UK pages, go to <a href="https://www.gov.uk/help/cookies">GOV.UK</a>.</p>

                <br />
                <h2>Measuring website usage (Matomo)</h2>
                <br />

                <p>
                    We use Matomo Analytics software to collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. We do this to better understand how applicants for legalisation use the website. From time to time, the Foreign and Commonwealth Office may release non-personally-identifying information in the aggregate, eg, by publishing a report on trends in the usage of its website.
                </p>

                <p>
                    Matomo Analytics sets the following cookies:
                </p>

                <table>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Expires</th>
                    </tr>
                    <tr>
                        <td>_pk_ref</td>
                        <td>Tracking of web site usage</td>
                        <td>Two years</td>
                    </tr>
                    <tr>
                        <td>_pk_cvar</td>
                        <td>Tracking of web site usage</td>
                        <td>Two years</td>
                    </tr>
                    <tr>
                        <td>_pk_id</td>
                        <td>Tracking of web site usage</td>
                        <td>Two years</td>
                    </tr>
                    <tr>
                        <td>_pk_ses</td>
                        <td>Tracking of web site usage</td>
                        <td>Two years</td>
                    </tr>
                    </tbody>
                </table>

                <p>
                    You can <a href="https://web-analytics.fco.gov.uk/piwik/index.php?module=CoreAdminHome&action=optOut&language=en">opt out from Matomo Analytics cookies</a>. If you are using an unsupported browser, such as Internet Explorer 6 on Windows Vista, we do not track your web site usage and the opt out page above will not be displayed.
                </p>

                <br />
                <h2>Introductory cookie message</h2>
                <br />

                <p>When you first use the service we show a ‘cookie message’. We then store a cookie on your computer so it knows not to show this message again.</p>

                <table>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Expires</th>
                    </tr>
                    <tr>
                        <td>seen_cookie_message</td>
                        <td>Lets us know you’ve already seen our cookie message</td>
                        <td>28 days</td>
                    </tr>
                    </tbody>
                </table>

                <br />
                <h2>Other suppliers</h2>
                <br />

                <p>We use other suppliers to provide this service, who have their own cookie policy:</p>

                <ul>
                    <li>Barclays provide the online payment service. Please read the <a href="https://www.barclays.co.uk/important-information/cookies-policy/">Barclays cookie policy</a>.</li>
                </ul>

          </article>
        </div>
      </main>
    </div>
