    <div id="wrapper" class="group">
      <main id="content" role="main" class="group">

        <header class="page-header group">
          <div>
            <h1>Foreign and Commonwealth Office</h1>
          </div>
        </header>
        <div class="article-container group ancillary">
          <article role="article" class="group">
            <div class="inner">
                <br />
                <h1>Privacy notice</h1>

                <p>Date last modified: 3 July 2018</p>
                <br />

                <p>This privacy notice covers</p>

                <ul>
                    <li>notarial services</li>
                    <li>documentary services</li>
                    <li>Emergency Travel Documents</li>
                    <li>payments for those services</li>
                    <li>other consular services given at British Embassies, Consulates and High Commissions overseas</li>
                    <li>information given during telephone calls to our teams including in times of crisis and via information submitted to the Crisis <a  href="https://overseas-crisis.service.gov.uk/">online webform</a>, or submitted by you in SMS text messages</li>
                </ul>

                <p>This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. View the <a  href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">licence on The National Archives website</a> or contact:</p>

                <div class="panel-indent-small">
                <p>Information Policy Team
                            <br>The National Archives Kew
                            <br>London
                            <br>TW9 4DU
                            <br></p>
                </div>

                <p>email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.</p>

                <p>Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.</p>

                <p>This publication is available from our <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office/about/personal-information-charter">Personal Information Charter page</a>.</p>

                <h3 id="feedback">
                    <span class="number">0.1 </span>Feedback</h3>
                <p>We use customer feedback to help us improve our services. FCO staff may approach you either face to face, over the phone or by email to discuss feedback with you. You may also be asked for consent during online applications. We will ask you if you are willing to share your data with our partner research agency for the purpose of our partner contacting you for feedback on our behalf. We only process this data with your consent. Our separate <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office/about/research#research-privacy-notice">privacy notice for research</a> and feedback purposes explains this.</p>

                <br />
                <h2 id="who-we-are">
                    <span class="number">1. </span>Who we are</h2>

                <p>Consular Directorate, including consular teams working in the UK and at British Embassies, High Commissions and Consulates overseas is part of the</p>

                <div class="panel-indent-small">
                <p>
                            Foreign and Commonwealth Office
                            <br>King Charles Street
                            <br>London
                            <br>SW1A 2AH
                            <br>
                        </p>
                </div>

                <p>Tel: 020 7008 1500</p>

                <br />
                <h2 id="what-data-we-process-and-why">
                    <span class="number">2. </span>What data we process and why</h2>

                <p>The Foreign and Commonwealth Office (FCO) works in the UK and overseas to protect our people, to project our influence and values and to promote our prosperity overseas. In doing so we process personal data.</p>

                <p>British Embassies, High Commissions and Consulates process personal data for the purposes of providing British nationals with notarial and documentary services abroad, for processing Emergency Travel Documents (ETD) and for the payment of those services.</p>

                <p>We also process data for the purpose of providing the consular assistance described in our publication <a href="https://www.gov.uk/government/publications/support-for-british-nationals-abroad-a-guide">Support for British nationals abroad: a guide</a>. If you are seeking consular assistance, your data will be used by our staff in the UK and overseas to assess your individual circumstances to determine what help you require. In some countries where British nationals are at risk they are invited to provide their details to us in order that they can be contacted in an emergency and assistance provided.</p>

                <p>Where you have been provided with consular assistance, your data will be recorded on our internal case management system, Casebook. Data processed for the purposes of Consular Marriages, Consular Civil Partnerships, Consular Conversions of Civil Partnership to Marriage services and Birth and Death registrations also becomes part of the UK public record.</p>

                <p>In order to use fee-paying services online, you will need to enter personal information. Such information includes your name, contact details, date of birth, and in some cases you will be asked to provide details of certain documents. We use this information to confirm an appointment and provide the service requested, as well as to process the payment, identify who is paying and to send email receipts. Credit card data is processed by our supplier, <a href="https://www.barclaycard.co.uk/business/accepting-payments/corporate-payment-solutions/online">Barclaycard</a>.</p>

                <p>Some of the services we provide online may contain free-text fields in which you are invited to enter additional comments relating to the selected service. You should not enter details of medical history, religious beliefs and financial information or any other sensitive information into these free-text fields.</p>

                <br />
                <h2 id="processing-of-website-usage-information-and-web-queries">
                    <span class="number">3. </span>Processing of website usage information and web queries</h2>

                <p>Separately from the information entered by those using our online service, we also collect website usage information, which allows us to see how the service is being used. This information includes:</p>

                <ul>
                    <li>questions, queries or feedback you leave, including your email address if you send a message via feedback</li>
                    <li>your IP address, and details of which version of web browser you used. IP addresses are anonymised to two bytes e.g. 192.168.xxx.xxx</li>
                    <li>information about how you use the site, using cookies and page tagging techniques to help us improve the website</li>
                </ul>

                <p>This helps us to:</p>

                <ul>
                    <li>improve the site by monitoring how you use it</li>
                    <li>respond to any feedback you send us, if you’ve asked us to provide you with information about local services</li>
                </ul>

                <h3 id="data-provided-in-times-of-crisis-directly-or-by-third-parties">
                    <span class="number">3.1 </span>Data provided in times of crisis directly or by third parties</h3>

                <p>In most cases, you will have provided the data we hold. However, in some cases it may have been provided by a family member or friend calling us for advice or support. During times of crisis, we may have taken the decision not to highlight our privacy notice to you/the third party, due to the urgency of the situation.</p>

                <p>However we will provide a link to this Privacy Notice within our <a href="https://www.gov.uk/foreign-travel-advice">Travel Advice</a> and whenever we communicate how to contact us, (e.g. phone numbers/hotlines/webforms or SMS during a crisis) as a means of highlighting how your data is held and processed.</p>

                <p>We may also send an email and/or SMS to all Affected Persons immediately after the Crisis Hub file has been closed for a specific crisis to inform them of this Privacy Notice.</p>

                <br />
                <h2 id="legal-basis-for-the-processing">
                    <span class="number">4. </span>Legal basis for the processing</h2>

                <p>We process this data because it is necessary to perform our official functions as a government department, so that we can provide British nationals with notarial, documentary, ETD and consular services abroad.</p>

                <p>We also process some of this data because it is necessary to do so in order to comply with our obligations under:</p>

                <ul>
                    <li>the Consular Marriages and Marriages under Foreign Law (no.2) Order 2014</li>
                    <li>civil Partnership (Registration Abroad and Certificates) Order 2005</li>
                    <li>the Marriage of Same Sex Couples (Conversion of Civil Partnership) Regulations 2014</li>
                    <li>the Registration of Overseas Births and Deaths Regulations 2014</li>
                </ul>

                <p>Site usage data is processed on the basis that it is necessary for the purposes of legitimate interests pursued by us – namely the need to improve the service we provide and respond to feedback.</p>

                <h2 id="special-category-and-criminal-data">
                    <span class="number">5. </span>Special category and criminal data</h2>

                <p>In some cases we process what is known as ‘special category data’. This is data that requires extra protection. It includes information about your health, race, ethnic origin, sexual orientation and genetic or biometric data.</p>

                <p>For example, before we can issue registration documents you will be asked for a copy of your passport photo page to verify your identity. Before we can issue an emergency travel document you will also be asked to provide a photograph. This may be done online or at a later point in the process. A photograph used for ID is biometric data. We process this data because it is essential for the FCO to be able to verify your identity and subsequent eligibility for an emergency travel document. The photo will also be printed upon the emergency travel document if one is issued so that the emergency travel document is a valid and restricted travel document for you to use. We are unable to issue an emergency travel document without the provision of this data.</p>

                <p>It is therefore necessary to process it in order to perform our functions as a government department and it is necessary for reasons of substantial public interest</p>

                <p>Where we need to process health information, for example because you have fallen ill abroad and we need to help you find appropriate care, we process such data because it is necessary to do so in order to perform our official functions as a government department and because it is necessary for reasons of substantial public interest. There may also be cases, such as in an emergency, when it is necessary to process such data in order to protect your vital interests.</p>

                <p>Where a British National is arrested overseas for a serious offence then the FCO is notified of this. In such cases we share this data with ACRO Criminal Records Office (ACRO). ACRO have a legitimate interest in receiving such information because it is necessary for them to have a complete offending history of individuals in order to perform their function of safeguarding the public in the UK against unlawful acts, dishonesty or seriously improper conduct. This includes safeguarding individuals who are particularly at risk such as children as well as vulnerable adults.</p>

                <br />
                <h2 id="security-of-your-data">
                    <span class="number">6. </span>Security of your data</h2>

                <p>We take data security very seriously and we take every step to ensure that your data remains private and secure.
                    For online services we have procedures and security features in place to keep your data secure once we receive it. We also use SSL in order to encrypt all data transferred to and received from our server.</p>

                <br />
                <h2 id="data-sharing">
                    <span class="number">7. </span>Data sharing</h2>

                <br />
                <h3 id="registration-services">
                    <span class="number">7.1 </span>Registration Services</h3>
                <p>In order to register births, deaths and marriages, Overseas Registration Unit may need to verify your data with the Home Office, Her Majesty’s Passport Office and the General Register Office. We will therefore share your data with these organisations in order to do so.</p>

                <h3 id="lost-or-stolen-passports">
                    <span class="number">7.2 </span>Lost or stolen passports</h3>

                <p>Information about lost or stolen passports may be shared with appropriate public and private sector authorities who can assist in locating and recovering the missing passport and to help prevent the passport being used for criminal purposes. In particular we will pass details of lost and stolen passports to Her Majesty’s Passport Office.</p>

                <h3 id="consular-assistance-services">
                    <span class="number">7.3 </span>Consular assistance services</h3>

                <p>We may need to share your data with foreign authorities (eg local hospitals, prison authorities) in order to ensure you are receiving the support you need. We may for the same reason, share data with foreign authorities in order to provide appropriate consular support, (eg local hospitals, or police/prison authorities). In particular, we may share some of your data with partner organisations that can provide you with information or support that we are unable to provide. This may include organisations such as Prisoners Abroad for detainees, Victim Support for those bereaved by murder or manslaughter, and airport chaplaincies in the UK for those who require assistance upon return to the UK. Wherever possible, we will seek your consent to share your information with these organisations.</p>

                <h3 id="data-sharing-for-legal-reasons">
                    <span class="number">7.4 </span>Data sharing for legal reasons</h3>

                <p>We are also legally required to share information with the General Register Office (GRO) because we deposit copies of Consular Marriages, Consular Civil Partnerships and Consular Conversions and Birth and Death Registrations under the following legislation;</p>

                <ul>
                    <li>consular Marriages and Marriages under Foreign Law (no.2) Order 2014</li>
                    <li>civil Partnership (Registration Abroad and Certificates) Order 2005</li>
                    <li>the Marriage of Same Sex Couples (Conversion of Civil Partnership) Regulations</li>
                    <li>the Registration of Overseas Births and Deaths Regulations 2014</li>
                </ul>

                <h3 id="data-sharing-in-relation-to-arrests-overseas-for-serious-offences">
                    <span class="number">7.5 </span>Data sharing in relation to arrests overseas for serious offences</h3>

                <p>Where a British National is arrested overseas for a serious offence we share this information with ACRO – see above.</p>

                <p>We will not share your information with organisations for marketing or commercial purposes, and we will not pass on your details to other websites.</p>

                <br />
                <h2 id="data-processors">
                    <span class="number">8. </span>Data processors</h2>

                <p>For online services we use other suppliers to provide some parts of this service:</p>

                <ul>
                    <li>
                        <a href="http://www.bookingbug.com/">bookingBug</a> to provide the availability schedule and manage bookings. See the <a href="http://uk.bookingbug.com/docs/privacy.html">BookingBug privacy policy</a> attached to this service</li>
                    <li>
                        <a  href="http://sendgrid.com/">sendGrid</a> to send confirmation emails and other communications about your booking</li>
                    <li>
                        <a  href="https://www.barclaycard.co.uk/business/accepting-payments/corporate-payment-solutions/online">barclaycard</a> provide the online payment service. If you choose to pay online, read Barclays cookie policy</li>
                    <li>
                        <a  href="https://www.payments.service.gov.uk/privacy/">gov.uk/pay</a> will provide the online payment service in certain circumstances https://www.payments.service.gov.uk/privacy/</li>
                    <li>
                        <a  href="http://www.iizuka.co.uk/">Iizuka</a> for case management software</li>
                    <li>
                        <a  href="http://worldreach.com/">worldreach</a> to print your emergency travel document and manage the stock of emergency travel documents</li>
                    <li>
                        <a  href="https://ukcloud.com/">UK Cloud</a> and <a  href="https://aws.amazon.com/">Amazonweb</a> for web hosting
                        Our contracts with suppliers require them to comply with applicable data protection laws</li>
                </ul>

                <br />
                <h2 id="how-long-we-keep-your-data">
                    <span class="number">9. </span>How long we keep your data</h2>

                <p>We will usually retain your personal data for up to four years after your case has closed. There are some exceptions to this, including murder or manslaughter cases, unexplained deaths, kidnappings, cases with a terrorism element, cases involving minors, or individuals who have absconded/been released on bail, which are marked for retention beyond four years. Those cases retained beyond four years are periodically reviewed to determine whether they should continue to be retained, e.g. cases that result in or relate to discussion about policy changes.</p>

                <p>For ETDs if the applicant is under 16 we may retain their data indefinitely in the interest of child protection.</p>

                <p>For online payments if you start but do not complete a payment your data will be deleted after one week. Where online payment is made using Smartpay; If you pay successfully and complete your application, we delete personal data one week after the payment has been fully processed. If you pay successfully but do not complete your application, your payment authorisation will expire after 28 days and your data will be deleted after 30 days.</p>

                <p>Where online payment is made using gov.uk/pay, your data will be held by the Cabinet Office and retained in line with their <a  href="https://www.payments.service.gov.uk/privacy/">privacy statement</a>.</p>

                <p>Data entered in the Consular Marriage, Consular Civil Partnership, Consular Conversions and Birth and Death registers will be retained in perpetuity. Notices of Marriage, where a Certificate of No Impediment is issued, are also kept in perpetuity, in accordance with the following legislation;</p>

                <p>For consular marriages</p>

                <ol>
                    <li>Section 4(5) says registration officers must retain every notice of intended marriage</li>
                    <li>Section 10(1) says registration officers must maintain a register and therein register every marriage</li>
                </ol>

                <p>For local marriages:</p>

                <ol>
                    <li>Section 15(1) says registration officers must retain every notice and declaration</li>
                </ol>

                <br />
                <h2 id="your-rights">
                    <span class="number">10. </span>Your rights</h2>

                <p>In some <a  href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/">circumstances</a> you have the right to:</p>

                <ul>
                    <li>
                        <a  href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-object/">object</a> – request that your data is not processed for certain purposes</li>
                    <li>
                        <a  href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/">erasure</a> – request that your personal data is erased where one of the statutory grounds applies</li>
                    <li>
                        <a  href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-data-portability/">data portability</a> – the right to obtain and reuse your personal data for your own purposes across different services in certain circumstances.</li>
                    <li>
                        <a  href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/">restrict processing</a> – request that the processing of your personal data is restricted in certain circumstances – for example, where accuracy is contested</li>
                    <li>Rectification – request that any inaccuracies in your personal data are rectified without delay. Request that any incomplete personal data is completed, including by means of a supplementary statement</li>
                    <li>
                        <a  href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-of-access/">access</a> – request information about how your personal data is processed and to request a copy of that personal data</li>
                </ul>

                <br />
                <h2 id="how-to-contact-us">
                    <span class="number">11. </span>How to contact us</h2>

                <p>If you have any questions about anything in this notice, or if you consider that your personal data has been misused or mishandled, or if you would like to exercise any of your rights, you can contact us at: <a href="mailto:Data.Protection@fco.gov.uk">Data.Protection@fco.gov.uk</a>.</p>

                <p>You can also contact the Data Protection Officer at the Foreign and Commonwealth Office:</p>

                <div class="panel-indent-small">
                <p>
                            Data Protection Officer
                            <br>Knowledge Management Department
                            <br>Knowledge and Technology Directorate
                            <br>Room K4.02
                            <br>Foreign and Commonwealth Office
                            <br>King Charles Street
                            <br>London
                            <br>SW1A 2AH
                            <br>
                        </p></div>

                <p>Email: <a href="mailto:Data.Protection@fco.gov.uk">Data.Protection@fco.gov.uk</a></p>

                <p>Telephone: 020 7008 1500</p>

                <br />
                <h2 id="complaints">
                    <span class="number">12. </span>Complaints</h2>

                <p>You may also make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:</p>

                <div class="panel-indent-small"><p>

                            Information Commissioner's Office
                            <br>Wycliffe House
                            <br>Water Lane
                            <br>Wilmslow
                            <br>Cheshire SK9 5AF
                            <br>
                        </p></div>

                <p>Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a></p>

                <p>Telephone: 0303 123 1113</p>

                <br />
                <h2 id="changes-to-this-notice">
                    <span class="number">13. </span>Changes to this notice</h2>

                <p>We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified data at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. Changes to this privacy notice will be published on our website.</p>

          </article>
        </div>
      </main>
    </div>
