    <div id="wrapper" class="group">
      <main id="content" role="main" class="group">

        <header class="page-header group">
          <div>
            <h1>Foreign and Commonwealth Office</h1>
          </div>
        </header>
        <div class="article-container group ancillary">
          <article role="article" class="group">
            <div class="inner">
                <br />
                <h2>Privacy notice</h2>
                <br />

                <p>
                    Date last modified: 23/05/2018
                </p>

                <br />
                <h2>Who we are</h2>
                <br />

                <p>
                    Consular Directorate<br />
                    which is part of the<br />
                    Foreign and Commonwealth Office<br />
                    King Charles Street<br />
                    London<br />
                    SW1A 2AH<br />
                    Tel: 020 7008 1500
                </p>

                <br />
                <h2>What data we process and why</h2>
                <br />

                <p>
                    The FCO works in the UK and overseas to safeguard Britain’s national security, build Britain’s prosperity and support British citizens overseas.  In doing so we process personal data.
                </p>

                <p>
                    In particular, Consular Directorate uses personal data for the purpose of processing online payments.  We use the information you provide to identify who is paying and to send email receipts. The service cannot be provided without this data. Credit card data is processed by our supplier, <a href="https://www.barclaycard.co.uk/business/accepting-payments/corporate-payment-solutions/online">Barclaycard</a>.
                </p>

                <br />
                <h2>Legal basis for the processing</h2>
                <br />

                <p>
                    We process this data because it is necessary to do so in order to perform our official functions as a government department.
                </p>

                <br />
                <h2>What we do with it</h2>
                <br />

                <p>
                    The Foreign & Commonwealth Office uses and retains the personal data for the purposes of the reliable and secure provision of this service.
                </p>

                <br />
                <h2>Processing of site usage information</h2>
                <br />

                <p>
                    Separately from the information entered by those using this service, we also collect site usage information which allows us to see how the service is being used in order to allow us to improve it. This information does not contain any personal data. It includes:
                </p>

                <ul>
                    <li>your IP address, and details of which version of web browser you used. IP addresses are anonymised to two bytes e.g. 192.168.xxx.xxx</li>
                    <li>information on how you use the site, using cookies and page tagging techniques to help us improve the website</li>
                </ul>

                <p>
                    This helps us to improve the site by monitoring how you use it.
                </p>

                <br />
                <h2>Data processors</h2>
                <br />

                <p>
                    We use other suppliers to provide this service:
                </p>

                <ul>
                    <li><a href="https://www.sendgrid.com/">SendGrid</a> to send emails</li>
                    <li><a href="https://www.barclaycard.co.uk/business/accepting-payments/corporate-payment-solutions/online">Barclaycard</a> to take payments online</li>
                    <li><a href="https://ukcloud.com/">UK Cloud</a> for web hosting</li>
                </ul>

                <p>
                    Our contracts with suppliers require them to comply with applicable data protection laws.
                </p>

                <p>
                    There may be circumstances in which we share your data with third parties where, for example, we are required to do so by law, by court order, or to prevent fraud or other crimes.  Where we share data, however, we shall do so in accordance with applicable data protection laws.
                </p>

                <p>
                    However, we won’t share your information with any other organisations for marketing or commercial purposes, and we don’t pass on your details to other websites.
                </p>

                <br />
                <h2>How long we keep your data</h2>
                <br />

                <p>
                    If you start but do not complete a payment your data will be deleted after one week. If you pay successfully and complete your application, we delete personal data one week after the payment has been fully processed. If you pay successfully but do not complete your application, your payment authorisation will expire after 28 days and your data will be deleted after 30 days.
                </p>

                <br />
                <h2>Your rights</h2>
                <br />

                <p>
                    In certain circumstances you have the right to:
                </p>

                <ul>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-object/">Object</a> – request that your data is not processed for certain purposes.</li>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/">Erasure</a> - request that your personal data is erased where one of the statutory grounds applies.</li>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-data-portability/">Data portability</a> – the right to obtain and reuse your personal data for your own purposes across different services in certain circumstances.</li>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/">Restrict processing</a> - request that the processing of your personal data is restricted in certain circumstances – for example, where accuracy is contested.</li>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-rectification/">Rectification</a> - request that any inaccuracies in your personal data are rectified without delay.  Request that any incomplete personal data is completed, including by means of a supplementary statement.</li>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-of-access/">Access</a> - request information about how your personal data is processed and to request a copy of that personal data.</li>
                </ul>

                <br />
                <h2>Keeping your data secure</h2>
                <br />

                <p>
                    We take data security very seriously and we take every step to ensure that your data remains private and secure. We use SSL in order to encrypt all data transferred to and received from our server.
                </p>

                <br />
                <h2>How to contact us</h2>
                <br />

                <p>
                    If you have any questions about anything in this notice, or if you consider that your personal data has been misused or mishandled, or if you would like to exercise any of your rights, you can contact the Data Protection Officer at the Foreign and Commonwealth Office:
                </p>

                <p>
                    Data Protection Officer<br />
                    Knowledge Management Department<br />
                    Knowledge and Technology Directorate<br />
                    Room K4.02<br />
                    Foreign and Commonwealth Office<br />
                    King Charles Street<br />
                    London<br />
                    SW1A 2AH<br />
                    <br />
                    Email: Data.Protection@fco.gov.uk<br />
                    Tel: 020 7008 1500
                </p>

                <br />
                <h2>Complaints</h2>
                <br />

                <p>
                    You may also make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:
                </p>

                <p>
                    Information Commissioner's Office<br />
                    Wycliffe House<br />
                    Water Lane<br />
                    Wilmslow<br />
                    Cheshire SK9 5AF<br />
                    Email: casework@ico.org.uk<br />
                    Tel: 0303 123 1113<br />
                </p>

                <br />
                <h2>Changes to this notice</h2>
                <br />

                <p>
                    We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.
                </p>

          </article>
        </div>
      </main>
    </div>
