<p class="summary">Pay to register the death of a British national abroad.</p>
<%- partial("partials/questions/registration_count", { questionText: "How many deaths do you need to register? Each registration costs £"+transaction.registration_cost+". This does not include a copy of the certificate." }) %>

<%- partial("partials/questions/document_count", { questionText: "How many certificates do you need? Each one costs £"+transaction.document_cost+"." }) %>

<%- partial("partials/questions/postage_options", { questionText: "You must pay for your documents to be returned to you by tracked courier. Where do you want them to be returned to?" }) %>

<%- partial("partials/questions/email_address", { questionText: "Please enter your email address" }) %>

<p class="summary">Please do not make payment until your application is complete and ready to be sent to the Overseas Registration Unit. We must receive your application within 4 weeks of making the payment. After 4 weeks the payment authorisation will expire and be refunded to your payment card.</p>
